<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="css/notebook.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body ng-app="myapp" ng-controller="ListController">

<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title" id="myModalLabel"></h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <form ng-submit="addNew()">
                <table class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                    <th>Nom du Produit</th>
                    <th>Prix</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="produit in produits">
                    <td>
                      <input type="checkbox" ng-model="produit.selected"/></td>
                    <td>
                      <input type="text" class="form-control" ng-model="produit.nom" required/></td>
                    <td>
                      <input class="form-control" ng-model="produit.prix" required/></td>
                  </tr>
                  </tbody>
                </table>
                <div class="form-group">
                  <label class="control-label col-xs-3">Cout</label>
                  <div class="controls col-xs-6">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input class="form-control" placeholder="0.00"> <!-- {{ getTotal() | currency}} -->
                      </span>
                    </div>
                    <!-- <div>
                        <label>Total facture: </label><span>{{getTotal() | currency:"€":2}}</span>
                    </div> -->
                  </div>
                </div><br /><br /><br /><br />
                <div class="form-group">
                  <input ng-hide="!produits.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove">
                  <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="script/notebook.js"></script>
</html>
