<div class="container theme-showcase" role="main">

  <button type="button" ng-click="home.newCarnet()" class="btn btn-primary btn-lg active">Ajouter carnet</button>
  <button type="button" ng-click="home.logout()" class="btn btn-primary btn-lg active">Déconnecter</button>

  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder="Nom du carnet a Ajouter" ng-model="home.carnetTitle" />
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <ul>
          <carnet ng-repeat="carnet in home.carnets" home-carnet="carnet"></carnet>
        </ul>
      </div>
    </div>
  </div>
</div>
